.loading-icon {
  color: rgb(26, 107, 169);
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  width: 50%;
  margin: 16px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-card .user-picture {
  flex: 0 0 150px;
  margin-right: 16px;
  text-align: center;
}


.user-picture img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin: 16px;
}

.span-text{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600; 
}

.paragraph-text{
  font-size: 20px;
  font-family: sans-serif;
}
.names-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .user-card {
    flex-direction: column;
    width: 80%;
  }

  .user-card .user-picture {
    margin: 0 auto 16px;
  }

  .names-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
  }

  .names-container > div {
    flex: unset;
  }
}